
<module>
  <name>SiteMapper</name>
  <version>0.1</version>
  <display_name>SiteMapper - Mapping of website based on their reference in the response</display_name>
  <author>Tamaghna Basu</author>
  <project_home>https://github.com/titanlambda/SiteMapper</project_home>
  <works_on_session>no</works_on_session>
  <works_on_url>no</works_on_url>
  <works_on_finding>no</works_on_finding>
  <description>This module parses all your proxy logs and creates a reference graph of URLs from HTTP requests and responses. It creates 2 html files showing the mappings among the URLs based on their reference from eacch other. From this graph you can figure out which page has sent requests to what other URLs to load its content. 
  
  Example: If yahoo.com is loading the pictures from pics.yahoo.com and scripts from resource.yahoo.com, you will see a mapping from yahoo.com to pics.yahoo.com and resource.yahoo.com in the graph. </description>
</module>